div.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3.5vh;
  height: 8vh;
  font-size: 24px;
}

.bar-left {
  margin-right: 15vw;
}

.category-container {
  display: flex;
  flex-direction: row;
}

.bar-right {
  margin-left: 15vw;
}

.nav-item {
  padding-right: 2vw;
  padding-left: 3vw;
}

.category-box {
  border: 1px solid gray;
  padding: 10px 10px;
  margin: 0 10px;
}

.sort-box {
  border: 1px solid gray;
  padding: 10px 10px;
  margin: 0 10px;
}

.filter-box {
  border: 1px solid gray;
  padding: 10px 10px;
  margin: 0 10px;
}
